# виртуальное окружение
/venv

# медиа файлы
*.mp4
*.mp3

# исполняемые файлы
*.out

# архивированные файлы
*.tar.gz
*.gz

# локальный скрипт для активации виртуального окружения
sc.sh 

# локальный pycache
__pycache__ 
